<footer>
    &copy; 2023 Ivy Tech<br>
    <a href="ascott233@ivytech.edu">ascott233@ivytech.edu</a> || <a href="kbrumback@ivytech.edu">kbrumback@ivytech.edu</a> || <a href="kbrown@ivytech.edu">kbrown@ivytech.edu</a>
</footer>
