<nav>
    <ul> 
        <li><a href="/"> Home </a></li> 
        <li><a href="/courses"> Courses </a></li> 
        <li><a href="/cart"> Cart </a></li>
        <li><a href="/contact"> ContactUs </a></li>
        <li><a href="/login"> Login </a></li>
    </ul>
    <button class="hamburger">&#9776;</button>
</nav>
