<nav>
    <ul> 
        <li><a href="/"> Home </a></li> 
        <li><a href="/courses"> Courses </a></li> 
        <li><a href="/cart"> Cart </a></li>
        <li><a href="/contact"> Contact Us </a></li>
            <% if (user) { %>
        <li>Welcome, <%= user.email %></li>
        <li><a href="/logout">Log out</a></li>
      <% } else { %>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup" class="btn">Sign up</a></li>
      <% } %>  
    </ul>
</nav>
