* {
box-sizing: border-box;
}

body {
background-color: #DADBDD;
color: #666666;
font-family: Linotype Didot;
}

header {
background-color: #893BFF;
color: #FFFFFF;
font-family: Linotype Didot;
background-position: right;
background-repeat: no-repeat;
height: 120px;
}

header a:link {
color: #FFFFFF;
}

header a:visited {
color: #FFFFFF;
}

header a:hover {
color: #FFFFFF;
}


h1 {
text-align: center;
padding-top: .5em;
letter-spacing: 0.25em;
font-size: 3em;
}

nav {
font-weight: bold;
font-size: 1.2em;
background-color: #FFFFFF;
padding-top: 0;
padding-right: 0;
padding-bottom: 0;
float: left;
width: 160px;
position: fixed;
}

h2 {
color: #893BFF;
font-family: Linotype Didot;
}

h3 {
font-family: Linotype Didot;
}

main {
background-color: #FFFFFF;
margin-left: 170px;
overflow: auto;
padding-left: 2em;
padding-right: 2em;
display: block;
}

dt {
color: #893BFF;
font-weight: bold;
}



footer {
background-color: #FFFFFF;
margin-left: 170px;
font-size: 0.70em;
font-style: italic;
text-align: center;
padding: 1em;
}

#wrapper {
width: 80%;
background-color: #FFFFFF;
background-image: linear-gradient(to right, #FFFFFF, #CCCCFF);
min-width: 960px;
max-width: 2048px;
box-shadow: 5px 10px #000;
margin-right: auto;
margin-left: auto;
}

#homehero {
height: 300px;
background-image: url("book.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
margin-left: 170px;
}

#carthero {

}

#contacthero {
height: 300px;
background-image: url("contact.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
margin-left: 170px;
}

#shophero {

}

.shop {
margin: 1em;
}

.shop img {
float: left;
padding: 1em;
width: 200px;
height: 200px;
}

.shop form {
clear: right;
}

nav a {
text-decoration: none;
}

nav a:link {
color: #893BFF;
}

nav a:visited { 
color: #CCCCFF;
}

nav a:hover {
color: #9E7BFF;
}

nav ul {
list-style-type: none;
padding-left: 1em;
}

section {
float: left;
width: 33%;
padding-left: 2em;
padding-right: 2em;
}

nav li {
border-bottom: none;
}


input { 
display: flex;
flex-direction: column;
padding-left: 1em; width: 80%; 
}

input { 
display: grid;
padding-left: 1em; 
width: 60%;
grid-gap: 1em;
grid-template-columns: 10em 1fr;
}

input, textarea {
margin-bottom: .5em;
}

input[type="submit"] {
grid-column: 2; 
width: 9em;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: #555;
}


sidebar_content {
margin-left: 5%;
}

#mySubmit {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
  border-radius: 5px;
}