<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

<div id="wrapper">
<main>
    <div class="not-found content">
        <h2>OOPS, page not not found!</h2>
    </div>
</main>
<%- include('./partials/footer.ejs') %>
</div>

</body>

</html>
