<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

<div id="wrapper">
<main>
<h2>   Schedule Builder   </h2>
  <h3>Select your desired courses below</h3>
  <a href="https://2928195591452.gumroad.com/l/Psychology" class="gumroad-button" target="_blank">Psychology</a> <br>
  <a href="https://2928195591452.gumroad.com/l/Algebra" class="gumroad-button" target="_blank">Intro To Algebra</a> <br><br><br><br>

</main>
<%- include('./partials/footer.ejs') %>
</div>

</body>

</html>
